@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none; }

html {
  font-size: 10px; }

body {
  position: relative;
  background-color: #25262A;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff; }

a {
  display: inline-block; }

ul {
  list-style: none; }

h2 {
  font-size: 1.3rem; }

.intro header {
  position: relative;
  display: none; }
  .intro header .circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    background-color: #25262A;
    z-index: 100;
    box-shadow: 1px 4px 13px rgba(0, 0, 0, 0.46); }
    .intro header .circle.top-right {
      top: 0;
      left: 0;
      transform: translate(-33%, -33%); }
    .intro header .circle.bottom-left {
      right: 0;
      bottom: 0;
      transform: translate(8%, 6%); }
  .intro header .main-title-wrapper {
    position: relative;
    display: inline-block;
    width: 26rem;
    height: 5rem;
    background-color: #ffffff;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%); }
  .intro header .main-title-inner {
    padding: 15px;
    padding-right: 25px;
    width: 24.6rem;
    height: 4.2rem;
    position: absolute;
    top: 4px;
    left: 4px;
    transform: translate(3px 3px);
    background-color: #25262a;
    clip-path: polygon(0 0, 82.4% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .intro header .main-title-inner p {
      font-size: 1.7rem;
      font-weight: 400; }
      .intro header .main-title-inner p span {
        font-weight: 700; }

.intro main h1 {
  font-size: 3.5rem; }

.intro main .text p {
  font-size: 1.1rem; }

.design-line {
  height: 3px;
  background-color: #64f4ac;
  width: 11rem;
  position: absolute;
  border-radius: 4px; }

.u-margin-top {
  margin-top: 3.8rem; }

.contacts__social,
.contacts__email {
  position: fixed;
  bottom: 0;
  width: 0;
  z-index: 100; }

.contacts__social {
  left: 1.3rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }
  .contacts__social .contacts__line {
    height: 10.3rem; }

.contacts__links {
  transform: translate(-0.65rem, -1rem); }

.contacts__link {
  width: 1.7rem;
  height: 1.7rem; }
  .contacts__link:not(:last-of-type) {
    margin-bottom: 1rem; }
  .contacts__link a {
    height: 100%; }
    .contacts__link a svg {
      width: 100%;
      height: 100%; }
    .contacts__link a .link__username {
      display: none; }

.contacts__email {
  right: 1.3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; }
  .contacts__email a {
    transform: rotate(90deg) translateX(-1rem);
    transform-origin: right;
    font-weight: 700; }
  .contacts__email .contacts__line {
    height: 5.7rem; }

.contacts__line {
  width: 3px;
  background-color: #64f4ac; }

section.intro main {
  max-width: 50rem;
  margin: 0 auto; }
  section.intro main h1 {
    margin-bottom: 1.5rem; }
    section.intro main h1 span {
      color: #64F4AC; }
  section.intro main .text {
    margin-top: 2.5rem; }
    section.intro main .text p {
      margin-top: 2.3rem; }
      section.intro main .text p:last-of-type {
        margin-top: 1.5rem; }
  section.intro main .main-image {
    text-align: center;
    width: 35vh;
    height: 35vh;
    background: url(../img/ahmad-usman.jpeg) top left/cover no-repeat;
    border: 4px solid #28292D;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    filter: grayscale(2);
    margin: 0 auto; }
  section.intro main .chat {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 2.3rem;
    display: inline-block;
    position: relative;
    z-index: 1; }
    section.intro main .chat svg {
      width: 2.3rem;
      height: 2.3rem;
      color: #64F4AC;
      z-index: -1;
      position: absolute;
      right: 0;
      bottom: 0; }

.stack .stack__list--item {
  margin: 2.3rem 1.5rem;
  position: relative;
  width: 6rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2); }
  .stack .stack__list--item svg {
    color: #64F4AC;
    width: 100%;
    height: 50%; }
  .stack .stack__list--item-icon {
    height: 5rem;
    width: 100%;
    background-color: #2D2E32;
    border-radius: 7px 7px 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .stack .stack__list--item-name {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    height: 2.3rem;
    background-color: #2D2E32;
    width: 100%;
    border-radius: 0 0 7px 7px;
    z-index: -1;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center; }
    .stack .stack__list--item-name span {
      font-size: 0.9rem; }

.project-item {
  width: 87%;
  border-radius: 6px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-top: 60%;
  font-size: 0.8rem;
  font-weight: 600;
  overflow: hidden; }
  .project-item__img {
    filter: blur(1px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 6px;
    border: 1px solid #2D2E32; }
    .project-item__img.covid {
      background: url(../img/cov19-track-site.jpg) top left/cover no-repeat; }
  .project-item__details {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 6rem;
    grid-template-areas: "about" "." "about2"; }
    .project-item__details--about {
      padding: 0.8rem 1rem;
      background-color: #2D2E32;
      display: flex;
      align-items: center; }
      .project-item__details--about div {
        grid-area: about;
        border-left: 2px solid #64F4AC;
        padding-left: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .project-item__details--about div h3 {
          font-size: 1.1rem;
          margin-bottom: 0.7rem; }
        .project-item__details--about div p {
          color: #64F4AC; }
    .project-item__details--about2 {
      padding: 0.8rem 1rem;
      background-color: #2D2E32;
      grid-area: about2;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 100%; }
      .project-item__details--about2 .access {
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        .project-item__details--about2 .access a {
          padding: 5px;
          background-color: #64F4AC;
          color: #2D2E32;
          border-radius: 3px;
          margin-bottom: 0.5rem; }
      .project-item__details--about2 .stacks {
        border-left: 2px solid #64F4AC;
        padding-left: 1.3rem;
        position: relative; }
        .project-item__details--about2 .stacks p {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(-17px, -50%) rotate(-90deg);
          /* transform-origin: left; */
          letter-spacing: 2.3px; }
        .project-item__details--about2 .stacks ul {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          align-items: end;
          height: 100%; }
          .project-item__details--about2 .stacks ul li {
            display: inline-block;
            padding: 5px;
            background-color: #64F4AC;
            color: #2D2E32;
            border-radius: 3px;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem; }

.about-me__text {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  background-color: #2D2E32;
  border-radius: 10px;
  padding: 1.8rem 2.2rem 1.8rem 1.8rem;
  font-size: 1.1rem;
  position: relative;
  z-index: -10; }
  .about-me__text p {
    max-width: 32rem; }

.about-me__img {
  background: url(../img/ahmad-usman.jpeg) top left/cover no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(3rem, -50%);
  z-index: -1;
  border: 3px solid #64F4AC;
  border-radius: 8px 0 0 8px;
  border-right: none;
  height: 72%;
  filter: grayscale(8) opacity(0.4);
  width: 60%;
  max-width: 23rem; }

.main-footer__text {
  font-size: 1.1rem; }
  .main-footer__text p:not(:last-of-type) {
    margin-bottom: 2.6rem; }
  .main-footer__text p.quote {
    margin-bottom: 0.6rem;
    max-width: 42rem; }

.main-footer__background-img {
  height: 51vh;
  transform: rotate(-14deg);
  position: fixed;
  right: 2.5rem;
  bottom: -1.5rem;
  z-index: -100; }
  .main-footer__background-img svg {
    height: 100%;
    color: #2D2E32;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25)); }

main.main {
  position: relative;
  z-index: 10; }

section.intro {
  height: 100vh;
  background-color: #2D2E32; }
  section.intro main {
    padding: 8rem 3rem 0 3rem;
    height: 100%; }

section.stack {
  padding: 0 3rem 2rem 3rem;
  position: relative;
  margin: 4.7rem 0; }
  section.stack .design-line:first-of-type {
    top: 0;
    right: 1.3rem; }
  section.stack .design-line:last-of-type {
    left: 3rem;
    bottom: 0;
    background-color: #ffffff; }
  section.stack ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }

section.projects {
  padding: 0 3rem 0 3rem;
  position: relative;
  margin: 4.7rem 0; }
  section.projects .design-line:first-of-type {
    top: 0;
    right: 1.3rem; }
  section.projects ul.project-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
    max-width: 50rem;
    margin: 3.8rem auto; }
    section.projects ul.project-list li.to-right {
      justify-self: end; }

section.about-me {
  padding: 0 3rem 0 3rem;
  position: relative;
  margin: 4.7rem 0;
  margin-bottom: 0; }
  section.about-me .design-line:first-of-type {
    top: 0;
    right: 1.3rem; }

footer.main-footer {
  position: relative;
  padding: 0 3rem 1.7rem 3rem;
  overflow: hidden;
  margin-top: 4.7rem; }
  footer.main-footer .design-line:first-of-type {
    top: 0;
    left: 3rem; }

.main-header {
  position: absolute;
  margin-top: 2rem;
  margin-left: 1rem;
  z-index: 1000; }
  .main-header__logo {
    width: 7rem;
    color: #ffffff;
    height: 3rem; }
    .main-header__logo svg {
      width: 100%;
      height: 100%; }

.navigation {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 100; }
  .navigation__nav {
    display: none; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
    background-color: rgba(45, 46, 50, 0.8); }
    .navigation__button-icon {
      width: 2.3rem;
      position: relative;
      margin-top: 2.5rem; }
      .navigation__button-icon, .navigation__button-icon::before, .navigation__button-icon::after {
        height: 2px;
        display: inline-block;
        background-color: #ffffff;
        border-radius: 10px;
        transition: all 0.2s; }
      .navigation__button-icon::before, .navigation__button-icon::after {
        position: absolute;
        width: 1.4rem; }
      .navigation__button-icon::before {
        content: "";
        top: -9px;
        left: 0; }
      .navigation__button-icon::after {
        content: "";
        top: 9px;
        right: 0; }
    .navigation__button:hover, .navigation__button:active {
      background-color: #2D2E32; }
      .navigation__button:hover .navigation__button-icon::before, .navigation__button:hover .navigation__button-icon::after, .navigation__button:active .navigation__button-icon::before, .navigation__button:active .navigation__button-icon::after {
        position: absolute;
        width: 1.8rem; }
      .navigation__button:hover .navigation__button-icon::before, .navigation__button:active .navigation__button-icon::before {
        content: "";
        top: -10px; }
      .navigation__button:hover .navigation__button-icon::after, .navigation__button:active .navigation__button-icon::after {
        content: "";
        top: 10px;
        right: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__button-icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__button-icon::before {
    top: 0;
    transform: rotate(135deg);
    width: 2.3rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__button-icon::after {
    top: 0;
    transform: rotate(-135deg);
    width: 2.3rem; }
