.about-me {

    > main {
        @include respond(tab-port) {
            position: relative;
            max-width: 75rem;
            width: 100%;
            margin: 0 auto;
          }    
    }

    &__text {
        // margin-top: 2.5rem;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
        background-color: $dark-black-background;
        border-radius: 10px;
        padding: 1.8rem 2.2rem 1.8rem 1.8rem;
        font-size: 1.1rem;
        position: relative;
        z-index: -10;

        @include respond(tab-port) {
            width: 84.5%;
          }


        p {
            max-width: 32rem;
            line-height: 1.5;
            // @include respond(tab-port) {
            //     width: 80%;
            //   }
        }
    }

    &__img {
        background: url(../img/ahmad-usman.jpeg) top left / cover no-repeat;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(3rem, -50%);
        z-index: -1;
        border: 3px solid #64F4AC;
        border-radius: 8px 0 0 8px;
        border-right: none;
        height: 72%;
        filter: grayscale(8) opacity(0.4);
        width: 60%;
        max-width: 23rem;
        max-height: 30rem;

        @include respond(tab-port) {
            right: -18%;
            transform: translate(0, -50%);
            border: 5px solid #64F4AC;
            border-radius: 8px;;
          }
    }
}