.main-footer {

    &__text {
        font-size: 1.1rem;

        p:not(:last-of-type) {
            margin-bottom: 2.6rem;
        }

        p.quote {
            margin-bottom: 0.6rem;
            max-width: 42rem;
        }
    }

}