section.intro {
  > main {
    // height: 100%;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
  }

  &:hover {

    .chat {

      span {
        overflow: hidden;
        position: relative;
        
        a {
          transform: translateY(-105%);
          &.link-coloured {
            transform: translateY(0) !important;

          }
        }
      }

      svg {
       color: $color-white !important;
    }
    }
  }

  .intro__main-content {
    max-width: 50rem;
    margin: 0 auto;

    @include respond(tab-port) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: none;
    }

    .main-image {
      text-align: center;
      width: 35vh;
      height: 35vh;
      background: url(../img/ahmad-usman.jpeg) top left/cover no-repeat;
      border: 4px solid #28292D;
      box-shadow: $box-shadow;
      border-radius: 50%;
      filter: grayscale(2);
      margin: 0 auto;

     
        @include respond(tab-port) {
          width: 40vh;
          height: 40vh;
        }

        @include respond(tab-land) {
          width: 45vh;
          height: 45vh;
        }
      }

    .details {  
          max-width: 37rem;
          margin: 0 auto;
          h1 {
            margin-bottom: 1.5rem;
      
            span {
              color: $color-green;
            }
          }
      
          .text {
            margin-top: 2.5rem;
      
            p {
              margin-top: 2.3rem;
              line-height: 1.5;
      
              &:last-of-type {
                margin-top: 1.5rem;
              }
            }
          }

          .main-image {      
            @include respond(tab-port) {
              display: none;
            }
          }
      
          .chat {
              font-size: 1.3rem;
              font-weight: 700;
              margin-top: 2.3rem;
              display: inline-block;
              position: relative;
              z-index: 1;

              span {
                overflow: hidden;
                position: relative;
                display: block;

                a {
                  transition: all .5s;
                  &.link-coloured {
                    color: $color-green;
                    transform: translateY(105%);
                    position: absolute;
                    white-space: nowrap;
                    left: 0;
                    // bottom: ;
                  }
                }
                
              }

              svg {
                  width: 2.3rem;
                  height: 2.3rem;
                  color:  $color-green;
                  z-index: -1;
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  transition: all .5s;
              }
          }
    }

    .img-desk {
      display: none;

      @include respond(tab-port) {
        display: block;
        align-self: center;
        justify-self: flex-end;
      }
    }
  }
}
