.projects {
  > main {
    position: relative;
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
  }
  .project-item {
    width: 87%;
    border-radius: 6px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    padding-top: 60%;
    font-size: 0.8rem;
    font-weight: 600;
    overflow: hidden;

    @include respond(tab-port) {
      width: 100%;
      &:nth-child(even) {
        transform: translateY(4.5rem);
        transform-origin: top;
      }
    }

    &__img {
      &.covid {
        background: url(../img/covid-tracker.png) top left / cover no-repeat;
      }

      &.scooltec {
        background: url(../img/scooltec.png) top center / cover no-repeat;
      }

      &.soc-dash {
        background: url(../img/social-m-dashboard.png) top left / cover no-repeat;
      }

      &.youtube {
        background: url(../img/youtube.png) top left / cover no-repeat;;
      }

      &.world-time {
        background: url(../img/w-c-web-app.png) top center / cover no-repeat;
      }

      filter: blur(1px);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 6px;
      border: 1px solid $dark-black-background;
    }

    // &__details,
    // &__access {
    //   background-color: $dark-black-background;
    //   // height: 25%;
    //   width: 100%;
    //   position: absolute;
    // }

    &__details {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1.5fr 1fr;
      grid-template-areas:
        "about"
        "."
        "about2";

      &--about {
        padding: 0.8rem 1rem;
        background-color: $dark-black-background;
        display: flex;
        align-items: center;

        div {
          grid-area: about;
          border-left: 2px solid $color-green;
          padding-left: 0.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h3 {
            font-size: 1.1rem;
            margin-bottom: 0.7rem;
          }

          p {
            color: $color-green;
          }
        }
      }

      &--about2 {
        padding: 0.8rem 1rem;
        background-color: $dark-black-background;
        grid-area: about2;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100%;
        align-items: center;

        .access {
          bottom: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          // justify-content: ;
          align-items: flex-end;

          a {
            //   display: inline-block;
            padding: 5px;
            background-color: $color-green;
            color: $dark-black-background;
            border-radius: 3px;
            @include centerContent;
            //   margin-right: 0.5rem;
            &:first-of-type {
              margin-bottom: 0.5rem;
            }

            &:hover {
                svg {
                  transform: translateX(2px);
                }
            }

            svg {
              height: 1rem;
              width: 1rem;
              color:  #28292D;
              transition: all .2s;
            }
          }
        }

        .stack {
          border-left: 2px solid $color-green;
          padding-left: 1.3rem;
          position: relative;
          height: fit-content;

          // p {
          //   position: absolute;
          //   left: 0;
          //   top: 50%;
          //   transform: translate(-17px, -50%) rotate(-90deg);
          //   /* transform-origin: left; */
          //   letter-spacing: 2.3px;
          // }

          div.head {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            position: absolute;
            left: 0.4rem;

            div {
              transform: rotate(-90deg);
              font-size: 0.6rem;
            }
          }

          ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            // align-items: end;
            align-items: flex-start;
            // height: 100%;

            li {
              display: inline-block;
              padding: 5px;
              background-color: $color-green;
              color: $dark-black-background;
              border-radius: 3px;
              margin-right: 0.5rem;
            }
            li:first-child {
              margin-bottom: 0.5rem;
            }

            li:first-child:nth-last-child(4) ~ .line-break {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
