.stack {
    > main {
        // height: 100%;
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
        position: relative;
        padding-bottom: 3rem;
      }

    .stack__list {
        &--item {
            margin: 2.3rem 1.5rem;
            position: relative;
            width: 6rem;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
            
            svg {
                color: $color-green;
                width: 100%;
                height: 50%;
                
            }
            
            &-icon {
                height: 5rem;
                width: 100%;
                background-color: $dark-black-background;
                border-radius: 7px 7px 3px 3px;
                @include centerContent;
            }
            
            &-name {
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateY(100%);
                height: 2.3rem;
                background-color: $dark-black-background;
                width: 100%;
                border-radius: 0 0 7px 7px;
                z-index: -1;
                box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
                @include centerContent;

                span {
                    font-size: 0.9rem;
                }
            }
        }
    }
}


// <li class="stack__item">
//     <svg><use xlink:href="#js-brands" /></svg>
//     <div>
//         <span>Javascript</span>
//     </div>
// </li>