@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

.intro {
  header {
    position: relative;
    display: none;
    width: 18.4rem;
    height: 3.1rem;

    @include respond(tab-port) {
      display: inline-block;
    }

    .circle {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      position: absolute;
      background-color: $dark-black;
      z-index: 100;
      box-shadow: 1px 4px 13px rgba(0, 0, 0, 0.46);

      &.top-right {
        top: 0;
        left: 0;
        transform: translate(-33%, -33%);
      }

      &.bottom-left {
        right: 0;
        bottom: 0;
        transform: translate(35%, 35%);

        // @include respond(tab-land) {
        //   transform: translate(8%, 6%);
        // }
      }
    }

    .main-title {
      &-wrapper {
        position: relative;
        display: inline-block;
        width: 18.4rem;
        height: 3.1rem;
        background-color: $color-white;
        clip-path: polygon(0 0, 89.1% 0, 100% 100%, 0 100%);
      }

      &-inner {
        /* padding: 15px; */
        padding-left: 0.8rem;
        padding-right: 0;
        width: 17.86rem;
        height: 2.7rem;
        position: absolute;
        top: 2px;
        left: 2px;
        transform: translate(3px 3px);
        background-color: $dark-black;
        clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include respond(tab-land) {
          width: 17.84rem;
          height: 2.66rem;
          top: 3px;
          left: 3px;
        }

        p {
          font-size: 1.1rem;
          font-weight: 400;
          letter-spacing: 1.5px;

          @include respond(tab-land) {
            letter-spacing: 2px;
          }
          span {
            font-weight: 700;
          }
        }
      }
    }
  }

  main {
    h1 {
      font-size: 3.5rem;
    }

    .text {
      p {
        font-size: 1.1rem;
      }
    }
  }
}

h2 {
  font-size: 1.3rem;
}
