.main-header {
  position: absolute;
  margin-top: 1rem;
    margin-left: 1rem;

  &__logo {
    width: 8.5rem;
    color: #ffffff;
    height: 3rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .navigation {
    position: fixed;
    right: 1.5rem;
    top: 2.4rem;
    &__nav {
      display: none;
    }

    &__checkbox {
      display: none;
    }

    &__button {
      // width: 2.5rem;
      // height: 2.5rem;
      display: inline-block;

      &-icon {
        width: 2.5rem;
        position: relative;

        &,
        &::before,
        &::after {
          height: 2px;
          display: inline-block;
          background-color: $color-white;
          border-radius: 10px;
        }

        &::before,
        &::after {
          position: absolute;
          width: 1.6rem;
        }

        &::before {
          content: "";
          top: -9px;
        }

        &::after {
          content: "";
          top: 9px;
          right: 0;
        }
      }
    }
  }
}
